.postBlog {
    padding: 10px;
    background-color: white;
  }
  
  .postBlog__title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: blue;
    font-size: larger;
    background-color:inherit;
  }

.postBlog__description{
  background-color:inherit;
}
 